.hidden {
    display: none;
}

#keywords-text {
    font-weight: bold;
    color: #007BFF;
}

.chart {
    max-width: 100%;
    height: 200px;
}

.border {
    border-width: 2px;
}

.rounded {
    border-radius: .25rem;
}

.p-3 {
    padding: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}
